@page "/om"
@model I2R.LightNews.Pages.About

@{
    ViewData["Title"] = "Om";
}

<p>Lettnytt viser deg forenklet versjon av norske nettaviser.</p>
<p>Noen artikler kan også leses forenklet.</p>
<p>Her er en ikke-komplett liste over inngrep:</p>
<ul>
    <li>Fjerner bilder, videoer og svakt relevante lenker (reklame) til andre artikler.</li>
    <li>For nrk.no: Fjerner lenker til /mat, /radio og /tv</li>
</ul>
<p>E-postadresse: lettnytt@oiee.no</p>