/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
a,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
    font-family: system-ui, sans-serif;
    color: #222;
    background: white;
}

body > * {
    --layout-spacing: max(8vh, 3rem);
    --max-width: 70ch;
    width: min(100%, var(--max-width));
    margin-left: auto;
    margin-right: auto;
}

main {
    margin-top: var(--layout-spacing);
}

footer {
    margin-top: auto;
    padding-top: var(--layout-spacing);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

:is(h1, h2, h3) {
    line-height: 1.2;
}

:is(h2, h3):not(:first-child) {
    margin-top: 2em;
}

article * + * {
    margin-top: 1em;
}

.quote-text {
    padding: 0 25px;
    font-style: italic;
}

.quote-source {
    padding-left: 50px;
}

.reset {
    all: unset;
}

.news-link {
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid dimgray;
}

.news-link h2 {
    font-size: 18px;
}

.news-link .bar {
    font-size: 14px !important;
    display: flex;
    justify-content: space-between;
}

.news-link .bar .from-the-right {
    justify-content: end;
    display: flex;
}

.news-link .source-link {
    width: fit-content;
}

#top-bar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#top-bar nav .left {
    display: flex;
    gap: 0 15px;
    flex-direction: row
}

#top-bar a {
    color: blue;
}

#top-bar a.active {
    font-weight: 600;
    color: black;
}

a,
.link {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: blueviolet;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #151515;
    }

    a, .link {
        color: #4d4dff !important;
    }

    a:visited {
        color: #ad6beb !important;
    }
}
