<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/reset.css" >
    <link rel="stylesheet" href="/index.css" >
    <title>@ViewData["Title"] - Lettnytt</title>
</head>
<body>
<header>
    <nav>
        <a href="/nrk">NRK</a>
    </nav>
</header>
<main>
    @RenderBody()
</main>
</body>
</html>